<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<Bundle Name="OnlineVideos" Version="1.0.0.0" Manufacturer="offbyone" UpgradeCode="a94a432b-1ce5-4b42-b119-ccb4ff697dae"
			Condition="((VersionNT >= v5.1) AND (ServicePackLevel >= 3)) OR ((VersionNT >= v5.2) AND (ServicePackLevel >= 2)) OR (VersionNT >= v6.0)"> <!-- XP SP3 or Higher -->
		
		<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense" />
		<WixVariable Id="WixStdbaLicenseUrl" Value="" />

		<util:ProductSearch Guid="F0C3E5D1-1ADE-321E-8167-68EF0DE699A5" Variable="VCpp2010SP1_Installed"/>
		<util:FileSearch Path="[SystemFolder]D3DX9_41.DLL" Variable="Directx9c_Version1" Result="version"/>
		<util:FileSearch Path="[SystemFolder]D3DX9_43.DLL" Variable="Directx9c_Version2" Result="version"/>
		<util:RegistrySearch Root="HKCR" Key="CLSID\{E8E73B6B-4CB3-44A4-BE99-4F7BCB96E491}\InprocServer32" Win64="no" Variable="LAVAudioDecoderPath"/>
		<util:RegistrySearch Root="HKCR" Key="CLSID\{EE30215D-164F-4A92-A4EB-9D4C13390F9F}\InprocServer32" Win64="no" Variable="LAVVideoDecoderPath"/>

		<Chain>
			<PackageGroupRef Id="NetFx40Web"/>

			<ExePackage Id="VCpp2010x86Sp1"
				Cache="no"
				Compressed="no"
				PerMachine="yes"
				Permanent="yes"
				Vital="yes"
				SourceFile="vcredist_x86.exe"
				InstallCommand="/q"
				DownloadUrl="http://go.microsoft.com/fwlink/?LinkID=210621"
				InstallCondition="NOT VCpp2010SP1_Installed"
				DetectCondition="VCpp2010SP1_Installed"/>

			<ExePackage Id="Directx9"
				Cache="no"
				Compressed="no"
				PerMachine="yes"
				Permanent="yes"
				Vital="yes"
				SourceFile="dxwebsetup.exe"
				InstallCommand="/Q"
				DownloadUrl="http://download.microsoft.com/download/1/7/1/1718CCC4-6315-4D8E-9543-8E28A4E18C4C/dxwebsetup.exe"
				InstallCondition="NOT Directx9c_Version1 OR NOT Directx9c_Version2 OR (Directx9c_Version1 &lt; v9.26.952.2844) OR (Directx9c_Version2 &lt; v9.29.952.3111)"
				DetectCondition="Directx9c_Version1 AND Directx9c_Version2 AND (Directx9c_Version1 &gt;= v9.26.952.2844) AND (Directx9c_Version2 &gt;= v9.29.952.3111)"/>

			<ExePackage Id="LAVFilters"
				Cache="no"
				Compressed="no"
				PerMachine="yes"
				Permanent="yes"
				Vital="no"
				SourceFile="LAVFilters-0.51.2.exe"
				InstallCommand="/SILENT /SP-"
				DownloadUrl="http://mp-onlinevideos2.googlecode.com/svn/trunk/Standalone.Bootstrapper/LAVFilters-0.51.2.exe"
				InstallCondition="NOT LAVAudioDecoderPath OR NOT LAVVideoDecoderPath"
				DetectCondition="LAVAudioDecoderPath AND LAVVideoDecoderPath"/>
			
			<MsiPackage Id="OnlineVideosWPF"
				Compressed="yes"
				SourceFile="$(var.StandaloneMSI.TargetPath)"
				Vital="yes">
				<MsiProperty Name="INSTALLLOCATION" Value="[InstallFolder]" />
			</MsiPackage>
		</Chain>
	</Bundle>
</Wix>