*.suo
/packages
/Build/Version.cs
*.user
/Build/SiteUtilDlls
obj
bin
/OnlineVideos.MediaPortal2/NuGetPackage/PluginContent
*.mpe1
*.log
/Language/tx.exe
/.nuget
/UpgradeLog.htm
/OnlineVideos/NuGetPackage/Content
/OnlineVideos.MediaPortal1/Resources/Thumbs.db
/SiteImages/Banners/Thumbs.db
/SiteImages/Icons/Thumbs.db
/Standalone/Images/Thumbs.db
