<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="DebugMode" value="false"/>
	</appSettings>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	<runtime>
		<NetFx40_LegacySecurityPolicy enabled="true"/>
	</runtime>
</configuration>
