<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="OnlineVideos.Sites.WebAutomation.BrowserHost.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="DebugMode" value="false" />
	<add key="WriteDebugLog" value="false" />  
	<add key="DebugLogPath" value="C:\ProgramData\Team MediaPortal\MediaPortal\log\OnlineVideos.WebAutomation.BrowserHost-DEBUG.log" />
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="false">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <NetFx40_LegacySecurityPolicy enabled="false" />
  </runtime>
  <userSettings>
    <OnlineVideos.Sites.WebAutomation.BrowserHost.Properties.Settings>
      <setting name="CurrentScreenId" serializeAs="String">
        <value>0</value>
      </setting>
    </OnlineVideos.Sites.WebAutomation.BrowserHost.Properties.Settings>
  </userSettings>
</configuration>