<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="OnlineVideosWPF" Language="1033" Version="1.9.0.0" Manufacturer="offbyone" UpgradeCode="91c44233-766d-45e6-a51e-0cc26fae85dc">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x86" />

		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION"/>
		
		<Property Id="ARPPRODUCTICON">$(var.Standalone.TargetFileName)</Property>
		<Property Id="ARPURLINFOABOUT">http://code.google.com/p/mp-onlinevideos2/</Property>
		<Property Id="ARPURLUPDATEINFO">https://code.google.com/p/mp-onlinevideos2/downloads/list</Property>
		<Property Id='ARPHELPLINK'>https://code.google.com/p/mp-onlinevideos2/w/list</Property>
		<Property Id='ARPCOMMENTS'>Standalone WPF Application front-end for the OnlineVideos API.</Property>

		<PropertyRef Id="NETFRAMEWORK40FULL"/>

		<Condition Message="This application is only supported on Windows XP Service Pack 3 or higher.">
			<![CDATA[Installed OR (((VersionNT >= v5.1) AND (ServicePackLevel >= 3)) OR ((VersionNT >= v5.2) AND (ServicePackLevel >= 2)) OR (VersionNT >= v6.0))]]>
		</Condition>

		<Condition Message="This application requires the full .NET Framework 4.0">
			<![CDATA[Installed OR NETFRAMEWORK40FULL]]>
		</Condition>

		<Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

		<Directory Id="TARGETDIR" Name="SourceDir">
      
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLLOCATION" Name="OnlineVideos">
					<Component Id="OnlineVideosStandalone" Guid="ec34fc0c-8073-4313-9b8a-3a00e95ba836">
						<File KeyPath="yes" Id="MainExecutable" Source="$(var.Standalone.TargetPath)" DiskId="1" Vital="yes">
							<Shortcut Advertise="yes" Id="DesktopShortcut" Directory="DesktopFolder" WorkingDirectory="INSTALLDIR" Name="OnlineVideos" Icon="$(var.Standalone.TargetFileName)">
								<Icon Id="$(var.Standalone.TargetFileName)" SourceFile="$(var.Standalone.TargetPath)" />
							</Shortcut>
						</File>
						<File Id="OnlineVideosCore" Source="$(var.OnlineVideos.TargetPath)" DiskId="1" Vital="yes"/>
						<File Id="DirectShowLib" Source="$(var.Standalone.TargetDir)DirectShowLib-2005.dll" DiskId="1" Vital="yes"/>
						<File Id="EVRPresenter32" Source="$(var.Standalone.TargetDir)EVRPresenter32.dll" DiskId="1" Vital="yes"/>
						<File Id="NLog" Source="$(var.Standalone.TargetDir)NLog.dll" DiskId="1" Vital="yes"/>
						<RemoveFile Id="LogFile" On="both" Name="log.txt" />
					</Component>
					<Directory Id="MPUrlSource" Name="MPUrlSource">
						<Component Id="MPUrlSource" Guid="04047A84-E2C0-4EC8-A490-8467EDC2D302">
							<File Id="MPUrlSource_ax" Source="$(var.SolutionDir)MPUrlSourceSplitter\bin_Win32\MPUrlSourceSplitter.ax" DiskId="1" Vital="yes"/>
							<File Id="libcurl_dll" Source="$(var.SolutionDir)MPUrlSourceSplitter\bin_Win32\libcurl.dll" DiskId="1" Vital="yes"/>
              <File Id="MPUrlSource_Protocol_Afhs_dll" Source="$(var.SolutionDir)MPUrlSourceSplitter\bin_Win32\MPUrlSourceSplitter_Protocol_Afhs.dll" DiskId="1" Vital="yes"/>
              <File Id="MPUrlSource_Protocol_Http_dll" Source="$(var.SolutionDir)MPUrlSourceSplitter\bin_Win32\MPUrlSourceSplitter_Protocol_Http.dll" DiskId="1" Vital="yes"/>
              <File Id="MPUrlSource_Protocol_Mms_dll" Source="$(var.SolutionDir)MPUrlSourceSplitter\bin_Win32\MPUrlSourceSplitter_Protocol_Mms.dll" DiskId="1" Vital="yes"/>
              <File Id="MPUrlSource_Protocol_Mshs_dll" Source="$(var.SolutionDir)MPUrlSourceSplitter\bin_Win32\MPUrlSourceSplitter_Protocol_Mshs.dll" DiskId="1" Vital="yes"/>
              <File Id="MPUrlSource_Protocol_Rtmp_dll" Source="$(var.SolutionDir)MPUrlSourceSplitter\bin_Win32\MPUrlSourceSplitter_Protocol_Rtmp.dll" DiskId="1" Vital="yes"/>
              <File Id="MPUrlSource_Parser_Asx_dll" Source="$(var.SolutionDir)MPUrlSourceSplitter\bin_Win32\MPUrlSourceSplitter_Parser_Asx.dll" DiskId="1" Vital="yes"/>
              <File Id="MPUrlSource_Parser_F4m_dll" Source="$(var.SolutionDir)MPUrlSourceSplitter\bin_Win32\MPUrlSourceSplitter_Parser_F4M.dll" DiskId="1" Vital="yes"/>
              <File Id="MPUrlSource_Parser_Mshs_dll" Source="$(var.SolutionDir)MPUrlSourceSplitter\bin_Win32\MPUrlSourceSplitter_Parser_MSHS.dll" DiskId="1" Vital="yes"/>
              <File Id="MPUrlSource_Decryption_Akamai" Source="$(var.SolutionDir)MPUrlSourceSplitter\bin_Win32\MPUrlSourceSplitter_Afhs_Decryption_Akamai.dll" DiskId="1" Vital="yes"/>
              <File Id="avcodec_54_dll" Source="$(var.SolutionDir)MPUrlSourceSplitter\bin_Win32\avcodec-mpurlsourcesplitter-54.dll" DiskId="1" Vital="yes"/>
							<File Id="avformat_54_dll" Source="$(var.SolutionDir)MPUrlSourceSplitter\bin_Win32\avformat-mpurlsourcesplitter-54.dll" DiskId="1" Vital="yes"/>
							<File Id="avutil_51_dll" Source="$(var.SolutionDir)MPUrlSourceSplitter\bin_Win32\avutil-mpurlsourcesplitter-51.dll" DiskId="1" Vital="yes"/>
            </Component>
					</Directory>
					<Directory Id="Images" Name="Images">
						<Component Id="OnlineVideosStandaloneImages" Guid="5212c6f7-6f1c-4b97-ab7c-4929c69fc7b0">
							<File Id="NextPage" Source="$(var.Standalone.TargetDir)\Images\NextPage.png" DiskId="1" Vital="yes"/>
						</Component>
					</Directory>
					<Directory Id="LanguageFlags" Name="LanguageFlags">
						<Component Id="OnlineVideosLanguageFlags" Guid="522a4c3a-2527-4b1e-8173-a79070ab1caf">
							<File Id="LF_gl" Source="$(var.Standalone.TargetDir)\LanguageFlags\--.png" DiskId="1" Vital="yes"/>
							<File Id="LF_bg" Source="$(var.Standalone.TargetDir)\LanguageFlags\bg.png" DiskId="1" Vital="yes"/>
							<File Id="LF_cs" Source="$(var.Standalone.TargetDir)\LanguageFlags\cs.png" DiskId="1" Vital="yes"/>
							<File Id="LF_da" Source="$(var.Standalone.TargetDir)\LanguageFlags\da.png" DiskId="1" Vital="yes"/>
							<File Id="LF_de" Source="$(var.Standalone.TargetDir)\LanguageFlags\de.png" DiskId="1" Vital="yes"/>
							<File Id="LF_en" Source="$(var.Standalone.TargetDir)\LanguageFlags\en.png" DiskId="1" Vital="yes"/>
							<File Id="LF_es" Source="$(var.Standalone.TargetDir)\LanguageFlags\es.png" DiskId="1" Vital="yes"/>
							<File Id="LF_fi" Source="$(var.Standalone.TargetDir)\LanguageFlags\fi.png" DiskId="1" Vital="yes"/>
							<File Id="LF_fr" Source="$(var.Standalone.TargetDir)\LanguageFlags\fr.png" DiskId="1" Vital="yes"/>
							<File Id="LF_hr" Source="$(var.Standalone.TargetDir)\LanguageFlags\hr.png" DiskId="1" Vital="yes"/>
							<File Id="LF_hu" Source="$(var.Standalone.TargetDir)\LanguageFlags\hu.png" DiskId="1" Vital="yes"/>
							<File Id="LF_it" Source="$(var.Standalone.TargetDir)\LanguageFlags\it.png" DiskId="1" Vital="yes"/>
							<File Id="LF_ja" Source="$(var.Standalone.TargetDir)\LanguageFlags\ja.png" DiskId="1" Vital="yes"/>
							<File Id="LF_ko" Source="$(var.Standalone.TargetDir)\LanguageFlags\ko.png" DiskId="1" Vital="yes"/>
							<File Id="LF_lv" Source="$(var.Standalone.TargetDir)\LanguageFlags\lv.png" DiskId="1" Vital="yes"/>
							<File Id="LF_nl" Source="$(var.Standalone.TargetDir)\LanguageFlags\nl.png" DiskId="1" Vital="yes"/>
							<File Id="LF_no" Source="$(var.Standalone.TargetDir)\LanguageFlags\no.png" DiskId="1" Vital="yes"/>
							<File Id="LF_pl" Source="$(var.Standalone.TargetDir)\LanguageFlags\pl.png" DiskId="1" Vital="yes"/>
							<File Id="LF_pt" Source="$(var.Standalone.TargetDir)\LanguageFlags\pt.png" DiskId="1" Vital="yes"/>
							<File Id="LF_ro" Source="$(var.Standalone.TargetDir)\LanguageFlags\ro.png" DiskId="1" Vital="yes"/>
							<File Id="LF_ru" Source="$(var.Standalone.TargetDir)\LanguageFlags\ru.png" DiskId="1" Vital="yes"/>
							<File Id="LF_sk" Source="$(var.Standalone.TargetDir)\LanguageFlags\sk.png" DiskId="1" Vital="yes"/>
							<File Id="LF_sr" Source="$(var.Standalone.TargetDir)\LanguageFlags\sr.png" DiskId="1" Vital="yes"/>
							<File Id="LF_sv" Source="$(var.Standalone.TargetDir)\LanguageFlags\sv.png" DiskId="1" Vital="yes"/>
							<File Id="LF_th" Source="$(var.Standalone.TargetDir)\LanguageFlags\th.png" DiskId="1" Vital="yes"/>
							<File Id="LF_tr" Source="$(var.Standalone.TargetDir)\LanguageFlags\tr.png" DiskId="1" Vital="yes"/>
							<File Id="LF_uk" Source="$(var.Standalone.TargetDir)\LanguageFlags\uk.png" DiskId="1" Vital="yes"/>
							<File Id="LF_uz" Source="$(var.Standalone.TargetDir)\LanguageFlags\uz.png" DiskId="1" Vital="yes"/>
							<File Id="LF_zh" Source="$(var.Standalone.TargetDir)\LanguageFlags\zh.png" DiskId="1" Vital="yes"/>
						</Component>
					</Directory>
					<Directory Id="Languages" Name="Languages">
						<Component Id="OnlineVideosLanguages" Guid="8E20FDD2-384E-43D4-8E9F-CB4EAFF72A4F">
							<File Id="bg_xml" Source="$(var.SolutionDir)Language\OnlineVideos\bg.xml" DiskId="1" Vital="yes"/>
							<File Id="ca_xml" Source="$(var.SolutionDir)Language\OnlineVideos\ca.xml" DiskId="1" Vital="yes"/>
							<File Id="cs_xml" Source="$(var.SolutionDir)Language\OnlineVideos\cs.xml" DiskId="1" Vital="yes"/>
							<File Id="da_xml" Source="$(var.SolutionDir)Language\OnlineVideos\da.xml" DiskId="1" Vital="yes"/>
							<File Id="de_xml" Source="$(var.SolutionDir)Language\OnlineVideos\de.xml" DiskId="1" Vital="yes"/>
							<File Id="el_xml" Source="$(var.SolutionDir)Language\OnlineVideos\el.xml" DiskId="1" Vital="yes"/>
							<File Id="en_US_xml" Source="$(var.SolutionDir)Language\OnlineVideos\en-US.xml" DiskId="1" Vital="yes"/>
							<File Id="es_xml" Source="$(var.SolutionDir)Language\OnlineVideos\es.xml" DiskId="1" Vital="yes"/>
							<File Id="et_xml" Source="$(var.SolutionDir)Language\OnlineVideos\et.xml" DiskId="1" Vital="yes"/>
							<File Id="fi_xml" Source="$(var.SolutionDir)Language\OnlineVideos\fi.xml" DiskId="1" Vital="yes"/>
							<File Id="fr_xml" Source="$(var.SolutionDir)Language\OnlineVideos\fr.xml" DiskId="1" Vital="yes"/>
							<File Id="he_xml" Source="$(var.SolutionDir)Language\OnlineVideos\he.xml" DiskId="1" Vital="yes"/>
							<File Id="it_xml" Source="$(var.SolutionDir)Language\OnlineVideos\it.xml" DiskId="1" Vital="yes"/>
							<File Id="lt_xml" Source="$(var.SolutionDir)Language\OnlineVideos\lt.xml" DiskId="1" Vital="yes"/>
							<File Id="nl_xml" Source="$(var.SolutionDir)Language\OnlineVideos\nl.xml" DiskId="1" Vital="yes"/>
							<File Id="no_xml" Source="$(var.SolutionDir)Language\OnlineVideos\no.xml" DiskId="1" Vital="yes"/>
							<File Id="pl_xml" Source="$(var.SolutionDir)Language\OnlineVideos\pl.xml" DiskId="1" Vital="yes"/>
							<File Id="pt_xml" Source="$(var.SolutionDir)Language\OnlineVideos\pt.xml" DiskId="1" Vital="yes"/>
							<File Id="ru_xml" Source="$(var.SolutionDir)Language\OnlineVideos\ru.xml" DiskId="1" Vital="yes"/>
							<File Id="sk_xml" Source="$(var.SolutionDir)Language\OnlineVideos\sk.xml" DiskId="1" Vital="yes"/>
							<File Id="sv_xml" Source="$(var.SolutionDir)Language\OnlineVideos\sv.xml" DiskId="1" Vital="yes"/>
							<File Id="tr_xml" Source="$(var.SolutionDir)Language\OnlineVideos\tr.xml" DiskId="1" Vital="yes"/>
							<File Id="zh_xml" Source="$(var.SolutionDir)Language\OnlineVideos\zh.xml" DiskId="1" Vital="yes"/>
						</Component>
					</Directory>
				</Directory>
			</Directory>

      <Directory Id="CommonAppDataFolder">
        <Directory Id="OVDataFolder" Name="OnlineVideos">
          <Directory Id="OVDataFolderThumbs" Name="Thumbs">
            <Directory Id="OVDataFolderThumbsIcons" Name="Icons">
              <Component Id="OnlineVideosSiteIcons" Guid="E5D9F5CC-25AA-4A57-91E5-8935D6E76067">
                <File Id="DownloadsIcon" Source="$(var.SolutionDir)SiteImages\Icons\DownloadedVideo.png" DiskId="1" Vital="yes"/>
              </Component>
            </Directory>
            <Directory Id="OVDataFolderThumbsBanners" Name="Banners">
              <Component Id="OnlineVideosSiteBanners" Guid="128C5F93-A0F2-48A7-B9F1-059350CC88A9">
                <File Id="DownloadsBanner" Source="$(var.SolutionDir)SiteImages\Banners\DownloadedVideo.png" DiskId="1" Vital="yes"/>
              </Component>
            </Directory>
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="DesktopFolder" Name="Desktop"/>

    </Directory>

		<Feature Id="ProductFeature" Title="OnlineVideos Standalone" Level="1" ConfigurableDirectory="INSTALLLOCATION" Display="expand" AllowAdvertise="no" Absent="disallow" Description="Required core files of the OnlineVideos Standalone application.">
			<ComponentRef Id="OnlineVideosStandalone" />
      <ComponentRef Id="MPUrlSource" />
			<ComponentRef Id="OnlineVideosStandaloneImages" />
			<ComponentRef Id="OnlineVideosLanguageFlags" />
			<ComponentRef Id="OnlineVideosLanguages" />
      <ComponentRef Id="OnlineVideosSiteIcons" />
      <ComponentRef Id="OnlineVideosSiteBanners" />

      <!-- Note: The following ComponentGroupRef is required to pull in generated authoring from project references. -->
			<ComponentGroupRef Id="Product.Generated" />
		</Feature>
		
	</Product>
</Wix>