<?xml version="1.0"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
	<appSettings>
		<add key="PlayKey" value="P"/>
		<add key="PauseKey" value="SPACE"/>
		<add key="StopKey" value="B"/>
		<add key="DebugMode" value="false"/>
	</appSettings>
</configuration>
