@page
@model IndexModel
@{
    ViewData["Title"] = "Sites";
}

<div class ="d-flex justify-content-between">
    <div></div>
    <div class="text-center">
    </div>
    <div>
    @if(User.Identity.IsAuthenticated)
    {
        <form method="post">
            <div>@User.Identity.Name</div>
            <button type="submit" class="btn btn-outline-primary btn-sm" asp-page-handler="Logout">Log out</button>
        </form>
    }
    else
    {
        <form method="post">
            <div class="form-group">
                <label for="username" class="col-form-label col-md-2">Username</label>
                <div class="col-md-10">
                    <input name="username" />
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-form-label col-md-2">Password</label>
                <div class="col-md-10">
                    <input name="password" type="password" />
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-primary btn-sm" asp-page-handler="Login">Log in</button>
            </div>
        </form>
    }
    </div>
</div>

@await Html.PartialAsync("_SiteGridPartial", Model)
