<Plugin
    DescriptorVersion="1.0"
    Name="OnlineVideos"
    PluginId="{269bd257-7ce5-450a-b786-1c2834c81849}"
    AutoActivate="True"
    Author="offbyone"
    Copyright="GPL"
    Description="OnlineVideos Plugin"
    PluginVersion="1.0">
  
  <DependsOn>
    <PluginReference PluginId="{D87D92F0-5E71-470a-A2A4-430F90A28BF3}"/> <!-- SkinEngine -->
    <PluginReference PluginId="{A965AFE5-44F9-46e0-980E-40BBE17F25CA}"/> <!-- VideoPlayers -->
    <PluginReference PluginId="{15FB35F7-8C85-4404-BC67-BFF28446158A}"/> <!-- Media -->
    <PluginReference PluginId="{1AFF4467-64B0-4ca1-AF28-9AEDF3525BCE}"/> <!-- ConfigurationManager -->
    <PluginReference PluginId="{B765A4B6-F455-4941-BDAE-2CE45208BFEB}"/> <!-- Configuration plugin -->
  </DependsOn>
  
  <Runtime>
    <Assembly FileName="OnlineVideos.MediaPortal2.dll"/>
    <Assembly FileName="OnlineVideos.dll"/>
  </Runtime>

  <Register Location="/VideoPlayers/MimeTypeRegistrations">
    <VideoPlayerMimeTypeMapping Id="ovs" ClassName="OnlineVideos.MediaPortal2.OnlineVideosPlayer" MimeType="video/online"/>
  </Register>
  
  <Register Location="/ResourceProviders">
    <Instance Id="6DA68FCA-4701-47D7-A0B5-1AA982F0200C" ClassName="OnlineVideos.MediaPortal2.RawUrlMediaProvider"/>
  </Register>

  <Register Location="/Models">
    <Model Id="C418243F-5BD3-4637-8871-DA6545387929" Name="OnlineVideosWorkflowModel" ClassName="OnlineVideos.MediaPortal2.OnlineVideosWorkflowModel"/>
    <Model Id="C39D6682-90B5-4813-8A28-A1C9118D4F3E" Name="OnlineVideosSiteManagementWorkflowModel" ClassName="OnlineVideos.MediaPortal2.SiteManagementWorkflowModel"/>
    <Model Id="C8EA3B4B-E484-469B-AE3E-56A8E9EF9F04" Name="OnlineVideosSiteUpdateWorkflowModel" ClassName="OnlineVideos.MediaPortal2.SiteUpdateWorkflowModels"/>
    <Model Id="C43F4CD9-418A-4DFB-A0BD-DF24704B5BD6" Name="OnlineVideosSearchContributorModel" ClassName="OnlineVideos.MediaPortal2.SearchAction"/>
  </Register>

  <Register Location="/Workflow/States">
    <WorkflowState Id="F9D7500D-EC5C-4FEF-8FAE-E4DED8A22CE0"
        Name="OnlineVideosSites" MainScreen="sites" WorkflowModel="C418243F-5BD3-4637-8871-DA6545387929"
        DisplayLabel="OnlineVideos"/>

    <WorkflowState Id="BFDE18C2-0019-43D5-8ED7-8C9C426CE4A1"
        Name="OnlineVideosSiteSettings" MainScreen="ovsSiteSettings" WorkflowModel="C418243F-5BD3-4637-8871-DA6545387929"
        DisplayLabel="Settings"/>

    <WorkflowState Id="FF474A1A-CA39-4247-BFEA-4E7B578F482B"
        Name="OnlineVideosVideos" MainScreen="videos" WorkflowModel="C418243F-5BD3-4637-8871-DA6545387929"
        DisplayLabel="Category:"/>

    <WorkflowState Id="F7DF593E-A606-4096-B8E1-BE702C43A325"
      Name="OnlineVideosDetails" MainScreen="details" WorkflowModel="C418243F-5BD3-4637-8871-DA6545387929"
      DisplayLabel="Video:"/>

    <DialogState Id="F068C0DE-3763-4BA1-A59F-24435DBF0227"
        Name="OnlineVideosSearch" DialogScreen="dialogSearch" WorkflowModel="C418243F-5BD3-4637-8871-DA6545387929"
        DisplayLabel="[OnlineVideos.Search]" />

    <WorkflowState Id="026DF45C-86CB-44AE-9174-114810A6BAFF"
        Name="OnlineVideosSiteManagement" MainScreen="ovsSiteManagement" WorkflowModel="C39D6682-90B5-4813-8A28-A1C9118D4F3E"
        DisplayLabel="[OnlineVideos.ManageSites]"/>

    <WorkflowState Id="6B369DE9-CD49-4C11-9FF4-5BD157BF6902"
        Name="OnlineVideosUserReports" MainScreen="ovsUserReports" WorkflowModel="C39D6682-90B5-4813-8A28-A1C9118D4F3E"
        DisplayLabel="[OnlineVideos.Reports]"/>

    <DialogState Id="F6E1864A-4B9E-45FF-8200-23F4C1798562"
        Name="OnlineVideosSiteUpdate" DialogScreen="ovsDialogSiteUpdate" WorkflowModel="C8EA3B4B-E484-469B-AE3E-56A8E9EF9F04"
        DisplayLabel="[OnlineVideos.AutomaticUpdate]" />

    <DialogState Id="23E542F8-CA2A-45F4-B173-47801C4480E4"
        Name="OnlineVideosReportSite" DialogScreen="ovsDialogReportSite" WorkflowModel="C39D6682-90B5-4813-8A28-A1C9118D4F3E"
        DisplayLabel="[OnlineVideos.ReportBroken]" />

  </Register>
  
  <!-- Registration of our skin directory -->
  <Register Location="/Resources/Skin">
    <!-- This registration is necessary to declare the skin directory. You can use an arbitrary directory name or
         relative path; the path must be the relative to directory of the plugin.
         The id of the plugin can be arbitrary but must be unique in the MP 2 system. It is not referenced directly
         in any place. -->
    <Resource Id="OnlineVideosSkin" Directory="Skin" Type="Skin"/>
  </Register>

  <!-- Registration of our language directory -->
  <Register Location="/Resources/Language">
    <!-- This registration is necessary to declare the language directory. Just like for the skin directory,
         you can use an arbitrary directory name or relative path; the path must be the relative to the directory of the plugin.
         The id of the plugin can be arbitrary but must be unique in the MP 2 system. It is not referenced directly
         in any place. -->
    <Resource Id="OnlineVideosLanguage" Directory="Language" Type="Language"/>
  </Register>

  <!-- Registration of our configuration section -->
  <Register Location="/Configuration/Settings/Plugins">
    <ConfigSection
        Id="OnlineVideos"
        Redundant="true"
        Text="OnlineVideos"/>
  </Register>

  <!-- Contents of '/Plugins/OnlineVideos' section -->
  <Register Location="/Configuration/Settings/Plugins/OnlineVideos">
    <ConfigSetting
        Id="OnlineVideosUseAgeConfirmation"
        Text="Use Age Confirmation"
        HelpText="Require a pin for adult sites?"
        ClassName="OnlineVideos.MediaPortal2.Configuration.UseAgeConfirmation"/>
    <ConfigSetting
        Id="OnlineVideosAgeConfirmationPin"
        Text="Pin for Age Confirmation"
        HelpText="What is the pin for adult sites?"
        ClassName="OnlineVideos.MediaPortal2.Configuration.AgeConfirmationPin"/>
    <ConfigSetting
        Id="OnlineVideosUtilTimeout"
        Text="[OnlineVideos.Settings_UtilTimeout]"
        HelpText="After how many seconds should a request for online data be aborted?"
        ClassName="OnlineVideos.MediaPortal2.Configuration.UtilTimeout"/>
    <ConfigSetting
        Id="OnlineVideosCacheTimeout"
        Text="[OnlineVideos.Settings_CacheTimeout]"
        HelpText="After how many minutes should http data be invalidated in the cache?"
        ClassName="OnlineVideos.MediaPortal2.Configuration.CacheTimeout"/>
    <ConfigSetting
        Id="OnlineVideosDownloadFolder"
        Text="Download Folder"
        HelpText="Choose a folder where to store downloaded videos."
        ClassName="OnlineVideos.MediaPortal2.Configuration.DownloadFolder"/>
    <CustomConfigSetting
        Id="OnlineVideosSiteManagement"
        Text="[OnlineVideos.ManageSites]"
        HelpText="Add, remove and update your Sites."
        ClassName="OnlineVideos.MediaPortal2.Configuration.SiteManagement"
        AdditionalData="WorkflowState=026DF45C-86CB-44AE-9174-114810A6BAFF,ConfAppPanel=..."/>
  </Register>
  
</Plugin>
