<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OnlineVideos.Sites.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <OnlineVideos.Sites.Properties.Settings>
            <setting name="OnlineVideos_Sites_diebagger_MpExtendedService_MediaAccessService"
                serializeAs="String">
                <value>net.pipe://127.0.0.1/MPExtended/MediaAccessService</value>
            </setting>
            <setting name="OnlineVideos_Sites_diebagger_MpExtendedStreamingService_StreamingService"
                serializeAs="String">
                <value>net.pipe://127.0.0.1/MPExtended/StreamingService/soap</value>
            </setting>
            <setting name="OnlineVideos_Sites_diebagger_MpExtendedTvService_TVAccessService"
                serializeAs="String">
                <value>net.pipe://127.0.0.1/MPExtended/TVAccessService</value>
            </setting>
        </OnlineVideos.Sites.Properties.Settings>
    </applicationSettings>
</configuration>