<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Web.WebView2" version="1.0.1083-prerelease" targetFramework="net472" />
  <package id="MSBuildTasks" version="1.4.0.88" targetFramework="net472" />
  <package id="SubtitleDownloader" version="3.0.20.1" targetFramework="net472" />
</packages>