<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MediaPortal.UrlSourceSplitter" version="2.2.10.5911" targetFramework="net451" />
  <package id="Microsoft.Web.WebView2" version="1.0.1722.45" targetFramework="net48" />
  <package id="SharpDX" version="4.2.0" targetFramework="net48" />
  <package id="SharpDX.Mathematics" version="4.2.0" targetFramework="net48" />
</packages>