<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="csv" xsi:type="File" fileName="${basedir}/calls.csv">
        <layout xsi:type="CSVLayout">
          <column name="time" layout="${longdate}"/>
          <column name="method" layout="${logger}"/>
          <column name="user" layout="${message}"/>
        </layout>
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="csv"/>
    </rules>
  </nlog>
  <appSettings/>
  <connectionStrings>
    <add name="OnlineVideosDB" providerName="System.Data.SqlClient" connectionString="Server=(local);Database=OnlineVideos;Integrated Security=SSPI;"/>
  </connectionStrings>
  <!--
    Eine Beschreibung der Änderungen von 'web.config' finden Sie unter 'http://go.microsoft.com/fwlink/?LinkId=235367'.

    Die folgenden Attribute können für die <httpRuntime>-Kennung festgelegt werden.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <globalization culture="auto" uiCulture="auto" enableClientBasedCulture="true"/>
    <!-- 
            Legen Sie beim Kompilieren debug="true" fest, um 
            Debugsymbole in die kompilierte Seite einzufügen. 
            Da dies die Leistung beeinträchtigt, sollte der 
            Wert nur beim Entwickeln auf "True" gesetzt werden.
        -->
    <compilation debug="true" targetFramework="4.5.2"/>
    <!--
            Der Abschnitt <authentication> ermöglicht die Konfiguration 
            des Sicherheitsauthentifizierungsmodus, mit dem 
            ASP.NET eingehende Benutzer identifiziert. 
        -->
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" name=".ASPXFORMSAUTH"/>
    </authentication>
    <membership defaultProvider="OVMembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear/>
        <add name="OVMembershipProvider" type="OnlineVideos.WebService.OVMembershipProvider"/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="OVRoleManager">
      <providers>
        <clear/>
        <add name="OVRoleManager" type="OnlineVideos.WebService.OVRoleProvider"/>
      </providers>
    </roleManager>
    <!--
            Der Abschnitt <customErrors> ermöglicht die Konfiguration 
            der Vorgehensweise bei unbehandelten Fehlern während 
            der Anforderungsausführung. Insbesondere können 
            Entwickler HTML-Fehlerseiten konfigurieren, die anstelle 
            einer Fehlerstapelüberwachung angezeigt werden.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        Der system.webServer-Abschnitt ist zum Ausführen von ASP.NET AJAX unter
        Internetinformationsdienste 7.0 erforderlich. Für frühere Versionen von
        IIS ist er nicht erforderlich.
    -->
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="SiteOverview.aspx"/>
      </files>
    </defaultDocument>
    <security>
      <requestFiltering allowDoubleEscaping="true"/>
    </security>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="offbyone@offbyone.de">
        <network defaultCredentials="true" host="62.138.21.12" port="25"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
